/* Container for the entire app */
.userProfile {
    margin: 0;
    background: linear-gradient(135deg, #3E29BC, #783698); /* Set background for the entire body */
}

.navbarContainer {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #4A3F8C; /* Matches NavBar color */
}

/* Main content */
.userProfile {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4rem; /* Offset to avoid overlap with NavBar */
    padding-left: 2rem; /* Slightly offset the ProfileCard */
    box-sizing: border-box;
}


/* ProfileCard container */
.profileCardContainer {
    padding: 0; /* Zero padding */
    margin-top: 5rem;
    margin-left: 4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow effect */
    border-radius: 8px; /* Optional: add slight rounding for a polished look */
    background-color: white; /* Ensures card stands out */
}
.pastEventContainer{
    justify-content: center; /* Center horizontally */
    padding: 0;
    margin-top: 5rem;
    margin-left: 8rem; /* Aligns with ProfileCard's left margin */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000;
    height: 700px; /* Match the height of ProfileCardContainer */
    box-sizing: border-box; 
}
.textContainer{
    padding: 0;
    margin-top: 1;
    color: white;
    text-align: center;
}

/* EventCard container */
.eventCardContainer {
    margin-top: 0;
    padding: 0; /* Optional: adds some padding inside the container */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow effect */
}
